<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/detailPages.css" />
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<link rel="icon" type="image/x-icon" href="/static/img/favneighbor.png" />

		<title><%=product_detail_info["product_name"]%></title>
		<script>
			const menu = ["yachae", "fruits"];
		</script>
	</head>
	<body>
		<header></header>
		<main class="main-wrapper">
			<section class="section-line"></section>
			<section class="product-info-window">
				<div class="product-pic">
					<img
						class="product-img"
						src="/<%=product_detail_info['product_img_src']%>"
						alt="product-img"
					/>
				</div>
				<div class="product-status">
					<div class="product-title">
						<div class="product-info-wrapper">
							<div class="product-name">
									<h2><%=product_detail_info["product_name"]%></h2>
								<div class="product-price">
									<div class="howToDeal">교 환</div>
									<div class="howToDeal">나 눔</div>
								</div>
							</div>
						</div>
						<div class="product-content">
							<ul class="jjim-list">
								<li>
									<img
										class="heart"
										src="/static/img/heart16.png"
									/>&nbsp;&nbsp;4 (히트수)
								</li>
								<li>
									<img
										class="view-count"
										src="/static/img/see.png"
									/>&nbsp;&nbsp;46
								</li>

								<li>
									<img
										class="upload-times"
										src="/static/img/clock96.png"
									/>&nbsp;
									<div class="upload-time"></div>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-deal">
						<div class="big-jjim-status">
							<img class="heart-big" src="/static/img/heart30.png" />
							찜
						</div>
						<div class="dialog-status">대화 신청</div>
						<!-- <div>
							<img class="live-heart" src="/static/img/heart.gif" alt="heart" />
						</div> -->
					</div>
				</div>
			</section>
			<section class="product-detail-info-wrapper">
				<div class="product-detail-info">상품정보</div>
				<div class="proruct-content">
					<%=product_detail_info["product_content"]%>
				</div>
			</section>
		</main>
		<footer></footer>
		<script>
			const stringExam = "<%=product_detail_info['product_time']%>";
			const currnetMonth = (month) => {
				let currentmonth = "";
				if (month === "Jan") {
					currentmonth = "1";
				} else if (month === "Fab") {
					currentmonth = "2";
				} else if (month === "Mar") {
					currentmonth = "3";
				} else if (month === "Apr") {
					currentmonth = "4";
				} else if (month === "May") {
					currentmonth = "5";
				} else if (month === "Jun") {
					currentmonth = "6";
				} else if (month === "Jul") {
					currentmonth = "7";
				} else if (month === "Aug") {
					currentmonth = "8";
				} else if (month === "Sep") {
					currentmonth = "9";
				} else if (month === "Oct") {
					currentmonth = "10";
				} else if (month === "Nov") {
					currentmonth = "11";
				} else {
					currentmonth = "12";
				}
				return currentmonth;
			};
			const uploadYear = stringExam.split(" ")["3"];
			const uploadMonth = stringExam.split(" ")["1"];
			const uploadDate = stringExam.split(" ")["2"];
			const uploadTime = `${stringExam.split(" ")["4"].split(":")["0"]}시 ${
				stringExam.split(" ")["4"].split(":")["1"]
			}분`;
			// const monthArr = [
			// 	"Jan",
			// 	"Fab",
			// 	"Mar",
			// 	"Apr",
			// 	"May",
			// 	"Jun",
			// 	"Jul",
			// 	"Aug",
			// 	"Sep",
			// 	"Oct",
			// 	"Nov",
			// 	"Dec",
			// ];

			const now = `${uploadYear}년 ${currnetMonth(
				uploadMonth
			)}월 ${uploadDate}일 ${uploadTime}`;
			const uploadDateTime = document.querySelector(".upload-time");
			uploadDateTime.textContent = now;

			const jjimBtn = document.querySelector(".big-jjim-status");
			const heartIcon = document.querySelector(".heart-big");
			const CLICKED_CLASS = "clicked";
			console.log(heartIcon);
			jjimBtn.addEventListener("click", () => {
				heartIcon.src = "/static/img/heart.gif";
				jjimBtn.classList.add(CLICKED_CLASS);
			});

			// const product_id = "<%product_detail_info['product_id']%>";

			// const _data = {
			// 	id: product_id,
			// };

			// axios({
			// 	method: "post",
			// 	url: "/wishList",
			// 	data: _data,
			// }).then((res) => console.log(res.data));
		</script>
	</body>
</html>
