<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/detailPages.css" />
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<link rel="icon" type="image/x-icon" href="/static/img/favneighbor.png" />
		<title><%=product_detail_info["product_name"]%></title>
		<script>
			const menu = ["yachae", "fruits"];
		</script>
	</head>
	<body>
		<main class="main-wrapper">
			<section class="section-line"></section>
			<section class="product-info-window">
				<div class="product-pic">
					<img
						class="product-img"
						src="/<%=product_img_src[1]%>"
						alt="product-img"
					/>
					<div class="indicator-arrow">
						<div class="arrow-wrapper">
							<img class="arrow left" src="/static/img/left-arrow.png" />
							<img class="arrow right" src="/static/img/right-arrow.png" />
						</div>
					</div>
					<div class="indicator">
						<% for (let i = 1; i < product_img_src.length; i++) { %>
						<span class="indicator-dot"></span>
						<% } %>
					</div>
				</div>

				<div class="product-status">
					<div class="product-title">
						<div class="product-info-wrapper">
							<div class="product-name">
								<h2 class="product-name-title">
									<%=product_detail_info["product_name"]%>
								</h2>
								<div class="product-price">
									<div class="howToDeal">교 환</div>
									<div class="howToDeal">나 눔</div>
								</div>
							</div>
						</div>
						<div class="product-content">
							<ul class="jjim-list">
								<li>
									<img
										class="heart"
										src="/static/img/heart16.png"
									/>&nbsp;&nbsp;4 (히트수)
								</li>
								<li>
									<img
										class="view-count"
										src="/static/img/see.png"
									/>&nbsp;&nbsp;46
								</li>

								<li>
									<img
										class="upload-times"
										src="/static/img/clock96.png"
									/>&nbsp;
									<div class="upload-time"></div>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-deal">
						<div class="big-jjim-status">
							<img class="heart-big" src="/static/img/heart30.png" />
							찜
						</div>
						<div class="dialog-status">대화 신청</div>
						<!-- <div>
							<img class="live-heart" src="/static/img/heart.gif" alt="heart" />
						</div> -->
					</div>
				</div>
			</section>
			<section class="product-recommend-wrapper">
				<div class="product-recommand">
					<div class="recommands">1</div>
					<div class="recommands">2</div>
					<div class="recommands">3</div>
					<div class="recommands">4</div>
					<div class="recommands">5</div>
				</div>
			</section>
			<section class="product-detail-info-wrapper">
				<div class="product-detail-info">상품정보</div>
				<div class="proruct-content">
					<%=product_detail_info["product_content"]%>
				</div>
			</section>
		</main>
		<footer></footer>
		<script>
			const ex = "<%=product_img_src%>";
			const stringExam = "<%=product_detail_info['product_time']%>";
			const product_id = "<%=product_detail_info['product_id']%>";
			console.log(product_id)
			const jjimBtn = document.querySelector(".big-jjim-status");
			const CLICKED_CLASS = "clicked";
			// product아이디를 백으로 넘겨줌
			axios({
				url: "/api/checkJimm",
				method: "post",
				data:{product_id:product_id}
			}).then((result) => {
				console.log(result.data);
				if (Number(result.data)) jjimBtn.classList.add(CLICKED_CLASS);
				else jjimBtn.classList.remove(CLICKED_CLASS);
			});

			const currentMonth = (month) => {
				let currentmonth = "";
				const months = {
					Jan: 1,
					Fab: 2,
					Mar: 3,
					Apr: 4,
					May: 5,
					Jun: 6,
					Jul: 7,
					Aug: 8,
					Sep: 9,
					Oct: 10,
					Nov: 11,
				};
				return (currentmonth = months[month]);
			};

			const uploadYear = stringExam.split(" ")["3"];
			const uploadMonth = stringExam.split(" ")["1"];
			const uploadDate = stringExam.split(" ")["2"];
			const uploadTime = `${stringExam.split(" ")["4"].split(":")["0"]}시 ${
				stringExam.split(" ")["4"].split(":")["1"]
			}분`;

			const productImgArr = "<%=product_detail_info['product_img_src']%>";

			const now = () => {
				const currentday = new Date().getDate();
				if (currentday > uploadDate) {
					return `${currentday - uploadDate} 일전`;
				} else {
					return `${uploadYear}년 ${currentMonth(
						uploadMonth
					)}월 ${uploadDate}일 ${uploadTime}`;
				}
			};

			const uploadDateTime = document.querySelector(".upload-time");
			uploadDateTime.textContent = now();

			const heartIcon = document.querySelector(".heart-big");
			//false일때만 axios가 실행되도록 함 이런건 프론트딴에서 해결해야 백엔드에 과부하가 안가요! 사실 저희 프로젝트는 작아서 상관없지만서도
			jjimBtn.addEventListener("click", () => {
				const jjimBool = Boolean(jjimBtn.classList.contains(CLICKED_CLASS));
				console.log(jjimBool);
				if (jjimBool) {
					console.log("ㅁ");
				} else {
					heartIcon.src = "/static/img/heart.gif";
					axios({
						url: "/api/like",
						method: "post",
						// post방식 일때는 params가 data로 변경
						data: {
							product_id:product_id
						},
					})
						.then((response) => {
							console.log(response.data);
							if (response.data){
								jjimBtn.classList.add(CLICKED_CLASS);
							}
							else{
								alert("로그인 해주세요")
							}
						})
						.catch((error) => {
							// console.log(error);
						});
				}
				
			});
			// click dot to move imgs
			const productImg = document.querySelector(".product-img");
			const dots = document.querySelectorAll(".indicator-dot");
			const arrowWrapper = document.querySelector(".arrow-wrapper");
			const FILL_COLOR_CLASS = "fill-color";
			const HIDDEN_CLASS = "hidden";

			const clickDot = () => {
				if (dots.length === 1) {
					dots[0].classList.add(FILL_COLOR_CLASS);
					arrowWrapper.classList.add(HIDDEN_CLASS);
				} else {
					dots[0].classList.add(FILL_COLOR_CLASS);

					dots.forEach((el, index) => {
						el.addEventListener("click", () => {
							move1(index);
						});
					});
					return clickDot;
				}
			};
			clickDot();

			function move1(index) {
				if (index === 1) productImg.src = `/<%=product_img_src[2]%>`;
				else if (index === 0) productImg.src = `/<%=product_img_src[1]%>`;
				else if (index === 2) productImg.src = `/<%=product_img_src[3]%>`;
				for (let i = 0; i < dots.length; i++) {
					dots[i].classList.remove(FILL_COLOR_CLASS);
				}
				dots[index].classList.add(FILL_COLOR_CLASS);
			}

			const leftBtn = document.querySelector(".arrow.left");
			const rightBtn = document.querySelector(".arrow.right");
			const TRANSFORM_CLASS = "transform";

			function leftArrow() {
				if (dots[0].classList.contains(FILL_COLOR_CLASS)) move1(2);
				else if (dots[1].classList.contains(FILL_COLOR_CLASS)) move1(0);
				else if (dots[2].classList.contains(FILL_COLOR_CLASS)) move1(1);
			}

			function rightArrow() {
				if (dots[0].classList.contains(FILL_COLOR_CLASS)) move1(1);
				else if (dots[1].classList.contains(FILL_COLOR_CLASS)) move1(2);
				else if (dots[2].classList.contains(FILL_COLOR_CLASS)) move1(0);
			}
			// 화살표 click 이벤트
			leftBtn.addEventListener("click", leftArrow);
			rightBtn.addEventListener("click", rightArrow);
		</script>
	</body>
</html>
